body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

h1{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFFBF;
}

h2{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #343A40;
}

/* Navbar Section */
#navbar{
    background-color: #343A40;
    font-size: 1.2rem;
}

.container-fluid{
    padding: 5% 15% 3%;
}

.navbar-brand{
    margin-right: 0px;
    margin-bottom: 10px
}

.logo-img{
    height: 1.25rem;
    padding: 0 10px;
}

.nisb{
    padding: 0 10px;
    font-size: 1.5rem;
    color: aliceblue;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}


#home{
    background-color: #343A40;
    padding: 80px 0;
}

.title-col{
    text-align: center;
}

.title-image{
    width: 80%;
    position: relative;
    right: 0px;
}

@media (max-width: 1024px){
    #home{
        text-align: center;
    }

    .title-image{
        transform: rotate(0deg);
        position: static;
    }
}

/* About */
.abt-nisb{
    padding: 3% 5%;
}

.nisb-image{
    align-items: center;
    height: 10%;
    margin-top: 50%;
}

/* Team */
#team{
    background-color: #343A40;
    color: #FFFFFFBF;
    text-align: center;
}

#team h2{
    background-color: #343A40;
    color: #FFFFFFBF;
    text-align: center;
    padding: 7% 10% 0;
    font-size: 3.5rem;
}

.team-image{
    width: 30%;
    border-radius: 100%;
    margin: 20px
}

.carousel-item{
    padding: 7% 15%;
}

/* Contact Section */
.contact-heading{
    text-align: center;
}

.fa{
    padding: 10px;
}

.address, .phone, .email{
    padding: 15px 7px;
}

.pset{
    padding-left: 45px;
}

.forms{
    margin-top: 20px;
    padding: 7% 5%;
    background-color: #343A40;
    color: #FFFFFFBF;
}

.forms h3{
    text-align: center;
}

#EmailBtn{
    font-weight: bold;
    border-radius: 7%;
    border: none;
}

#EmailBtn:hover{
    color: #FFFFFFBF;
    background-color: #343A40;
}

.social{
    padding: 7% 15% 5%;
    text-align: center;
}

.social a{
    color: #FF2E63;
}

.social a:hover{
    color: #08D9D6;
}